body{
    background-color: yellowgreen;
}

#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 11.75px;
}
#hh{
    background-color: crimson;
    width: 400px;
    border-radius: 10px;
    
}
#camera{
    border-style:ridge;
    border-width: 10px;
    width: 325px;
    height: 325px;
}